<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Synheart Core</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSMotionUsageDescription</key>
    <string>Synheart Core uses motion data when phone-context collection is enabled with your consent.</string>
    <key>SYNHEART_APP_ID</key>
    <string>$(SYNHEART_APP_ID)</string>
    <key>SYNHEART_BASE_URL</key>
    <string>$(SYNHEART_BASE_URL)</string>
    <key>SYNHEART_AUTH_BASE_URL</key>
    <string>$(SYNHEART_AUTH_BASE_URL)</string>
    <key>SYNHEART_AUTH_URL</key>
    <string>$(SYNHEART_AUTH_URL)</string>
    <key>SYNHEART_CONSENT_BASE_URL</key>
    <string>$(SYNHEART_CONSENT_BASE_URL)</string>
    <key>SYNHEART_INGEST_BASE_URL</key>
    <string>$(SYNHEART_INGEST_BASE_URL)</string>
    <key>SYNHEART_ORG_ID</key>
    <string>$(SYNHEART_ORG_ID)</string>
    <key>SYNHEART_PACKAGE_NAME</key>
    <string>$(SYNHEART_PACKAGE_NAME)</string>
    <key>SYNHEART_TENANT_ID</key>
    <string>$(SYNHEART_TENANT_ID)</string>
    <key>SYNHEART_PROJECT_ID</key>
    <string>$(SYNHEART_PROJECT_ID)</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
